# ide
.idea

# venv
venv

# .env
.env

# assets
assets/*
!assets/.gitkeep

# log
log/*
!log/.gitkeep

# nginx
nginx/django-rest-base-boilerplate.conf
nginx/cloudflare.pem
nginx/cloudflare.key

# systemd
systemd/django-rest-base-boilerplate.service

# pgbouncer
pgbouncer.ini
